.movies__section {
	padding: 70px 70px 30px;
	margin: 0;
}

.movies__list {
	display: grid;
	grid-gap: 32px 20px;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	list-style: none;
	padding: 0;
	margin: 0;
}

.movies__emptySearch {
	align-self: center;
	justify-self: center;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 1;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 1200px) {
	.movies__section {
		padding: 70px 30px 30px;
	}

	.movies__list {
		grid-gap: 36px 30px;
		grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
	}
}

@media screen and (max-width: 760px) {
	.movies__section {
		padding: 40px 10px 30px;
	}

	.movies__list {
		grid-gap: 20px 10px;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}