.movies__section {
	padding: 70px 70px 30px;
	margin: 0;
}

.movies__list {
	display: grid;
	grid-gap: 32px 20px;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	list-style: none;
	padding: 0;
	margin: 0;
}

.movies__emptySearch {
	align-self: center;
	justify-self: center;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 1;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 1200px) {
	.movies__section {
		padding: 70px 30px 30px;
	}

	.movies__list {
		grid-gap: 36px 30px;
		grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
	}
}

@media screen and (max-width: 760px) {
	.movies__section {
		padding: 40px 10px 30px;
	}

	.movies__list {
		grid-gap: 20px 10px;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}

.movies__button {
  width: 100%;
  height: 36px;
  background-color: #F9F9F9;
  border: 0;
  font-size: 12px;
  line-height: 3;
  cursor: pointer;
  border-radius: 6px;
  display: none;
}

.movies__button_active {
  display: block;
}

.movies__message {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  visibility: hidden;
}

.movies__message_active {
  visibility: visible;
}