.navigation {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-movies {
	margin: 0;
	position: absolute;
	left: 152px;
	display: flex;
	column-gap: 16px;
}

.nav__link {
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	margin-right: 30px;
	text-decoration: none;
	transition: all .6s;
	color: #fff;
	padding: 0;
}

.nav__link:last-child {
	margin-right: 0;
}

.nav__link:hover {
	opacity: .6;
}

.nav__link_signin {
	background-color: #3DDC84;
	border-radius: 3px;
	color: #000;
	padding: 8px 20px;
}

.nav__link_movies {
	padding: 0;
	margin: 0;
}

.nav__link_profile {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 17px;
}

.nav__link_profile-avatar {
	background: #313131 url(../../images/nav__link_profile.svg) center no-repeat;
	border-radius: 4px;
	width: 26px;
	height: 30px;
}

@media screen and (max-width: 760px) {
	.nav__link_signup {
		margin-right: 14px;
	}

	.nav__link_signin {
		padding: 5px 12px;
	}
}