.navigation {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navigation__container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-movies {
	margin: 0;
	position: absolute;
	left: 152px;
	display: flex;
	column-gap: 16px;
}

.nav__link {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	margin-right: 30px;
	text-decoration: none;
	transition: all .6s;
	color: #fff;
	padding: 0;
}

.nav__link:last-child {
	margin-right: 0;
}

.nav__link:hover {
	opacity: .6;
}

.nav__link_signin {
	background-color: #3DDC84;
	border-radius: 3px;
	color: #000;
	padding: 8px 20px;
}

.nav__link_movies {
	padding: 0;
	margin: 0;
}

.nav__link_profile {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 17px;
}

.nav__link_profile-avatar {
	background: #313131 url(../../images/nav__link_profile.svg) center no-repeat;
	border-radius: 4px;
	width: 26px;
	height: 30px;
}

.nav__link_main {
	display: none;
}

.nav__link_type_active {
	font-weight: 500;
}

@media screen and (max-width: 1200px) {
	.navigation__burger {
		position: absolute;
		right: 0;
		top: 0;
		box-sizing: border-box;
		min-height: 100vh;
		width: 100%;
		display: flex;
		background: rgba(0, 0, 0, 0.3);
	}

	.navigation__burger_inactive {
		display: none;
	}

	.navigation__container {
		position: absolute;
		right: 0;
		top: 0;
		box-sizing: border-box;
		min-height: 100vh;
		width: 67%;
		background-color: #202020;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 159px 0 0;
	}

	.nav-movies {
		position: relative;
		margin: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 22px;
	}

	.nav__link_main {
		display: block;
	}

	.nav__burger-link {
		font-size: 18px;
		font-weight: 500;
		line-height: 1;
		margin: 0;
		padding: 4px 0;
		text-decoration: none;
		transition: all .6s;
		color: #fff;
	}

	.nav__link_type_active {
		border-bottom: 2px solid #fff;
	}

	.nav__link_profile {
		display: flex;
		flex-direction: row;
		align-self: center;
		justify-self: flex-end;
		column-gap: 17px;
		padding: 0 0 92px 0;
	}

	.nav__link_profile-text {
		font-size: 14px;
		font-weight: 500;
		line-height: 1.14;
		margin: 0;
	}
}

@media screen and (max-width: 760px) {
	.navigation__container {
		width: 100%;
		padding: 144px 0 0;
	}
} 