.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
	min-height: 74px;
	padding: 0 70px;
}
.logo {
  height: 38px;
  width: 38px;;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
